version: "3.7"

services:

  nginx:
    build:
      context: ./docker/nginx
    volumes:
      - ./docker/nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
      - ./app:/var/www
    ports:
      - "80:80"
    depends_on:
      - php-fpm
    networks:
      - "backend_network"

  php-fpm:
    build:
      context: ./docker/php-fpm
    volumes:
      - ./app:/var/www
    ports:
      - "9000:9000"
    depends_on:
      - mysql
    networks:
      - "backend_network"

  mysql:
    image: mysql:5.7
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: api-test
      MYSQL_USER: user
      MYSQL_PASSWORD: user
    volumes:
      - ./docker/mysql/data:/var/lib/mysql
    networks:
      - "backend_network"

networks:
  backend_network:
    driver: bridge
